#package_status {
  position: relative;
}

#package_status p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0;
}

:root {
  --vp-c-brand-1: #4b32c3;
  --vp-c-brand-2: #8080f2;
  --vp-c-brand-3: #9595ed;
  --vp-c-brand-soft: #8080f250;
  --vp-c-bg-alt: #f9f9f9;

  --vp-c-yellow-1: #edb253;
  --vp-c-yellow-2: #daac61;
  --vp-c-yellow-3: #e6cc78;

  --vp-c-red-1: #b34e52;
  --vp-c-red-2: #bc6063;
  --vp-c-red-3: #cb7676;
}

.dark {
  --vp-c-brand-1: #9595ed;
  --vp-c-brand-2: #8080f2;
  --vp-c-brand-3: #4b32c3;
  --vp-c-brand-soft: #9595ed50;
  --vp-c-bg-alt: #18181b;

  --vp-c-yellow-1: #e6cc78;
  --vp-c-yellow-2: #daac61;
  --vp-c-yellow-3: #edb253;

  --vp-c-red-1: #cb7676;
  --vp-c-red-2: #bc6063;
  --vp-c-red-3: #b34e52;
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/* overrides vitepress theme */
@media (min-width: 960px) {
  #app .VPSidebar,
  #app .VPSidebar .curtain {
    background-color: var(--vp-nav-bg-color);
  }
}

/* dark/light radial transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
